.loginpage{
    width: 100%;
    height: 100%;
    position: fixed;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../../picspic/Samosa2.jpeg");
}
#app-name{
    position: relative;
    text-align: center;
    top: 15%;
    color: #9F8AC0;
    font-size: 25px;
}
.app-entrance{
    width: 100%;
    height: 50px;
    background-color: #9F8AC0;
    border: none;
    border-radius: 5px;
}
.inquiry-wrapper{
    width: 90%;
    position: absolute;
    bottom: 20%;
    background-color: transparent;
    left: 5%;
    height: auto;
}
.inquiry{
    text-align: center;
    color: #9F8AC0;
}